:root {
  --bg-1: #1c1c1c;
  --bg-2: #2c2c2c;
  --color: #e4a11b;
  --white: #eeeeee;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(64, 60, 0);
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1c1c1c;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107;
  transition: 0.4s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: coral;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc107;
}

* {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee;
  scroll-behavior: smooth;
}
p{
  font-size: 20px;
}
.d1,
.d3 {
  background-color: var(--bg-1);
  width: 100%;
  height: 100vh;
  display: flex;
}
.d2,
.d4 {
  background-color: var(--bg-2);
  width: 100%;
  height: 100vh;
  display: flex;
}
.c1-1 {
  height: 100vh;
  width: 25%;
  background-image: url(Imgs/wallpaper.jpeg);
  background-size: cover;
}
.c2-1 {
  height: 100vh;
  width: 40%;
  margin-left: 50px;
}
.c3-1 {
  height: 100vh;
  width: 20%;
}
.c4-1 {
  height: 100vh;
  width: 15%;
}
.c5-1 {
  height: 100vh;
  width: 100%;
  position: absolute;
  padding: 30px 0px;
  z-index: 1;
}
.img1 {
  width: 70%;
}
.btn {
  padding: 5px 30px;
}
.html-img,
.css-img,
.js-img {
  width: 40%;
  display: block;
  margin: 60px 0;
  transition: 0.4s;
}
.html-img:hover,
.css-img:hover,
.js-img:hover
{
margin-left:10px ;
}
.circle1,
.circle2,
.circle3,
.circle4 {
  background: var(--white);
  width: 50px;
  height: 50px;
  margin: 40px 0;
  border-radius: 360px;
  transition: 0.4s;
}
.circle1:hover,
.circle2:hover,
.circle3:hover,
.circle4:hover{
  width: 60px;
  height: 60px;
}
.home,
.info,
.skills,
.social,
.scrolldown,
.scrollup {
  width: 30px;
}

.pe-circle1,
.pe-circle2 {
  width: 50px;
  height: 50px;
  background: var(--white);
  margin: 0 10px;
  border-radius: 360px;
}

.active-circle {
  background: var(--color);
  box-shadow: 0px 2px 5px var(--color);
}

.c1-2{
  width: 55%;
  height: 100vh;
  position: relative;
  top: 0;
}
.c2-2{
  width: 30%;
  height: 100vh;
 display: flex;

}
.c3-2{
  width: 15%;
  height: 100vh;

}
.gigachad{
width: 100%;
display: block;
}
.gigachad2{
  width: 100%;
  display: none;
}
.rod{
  margin: 20px 0;
  width: 1%;
  height: 90vh;
  background: #EEEEEE;
}
.text{
  height: 100%;
  width: 99%;
  left: 20px;
  position: relative;
}
.adres{
  width: 100%;
  height: 20vh;
}
.infos{
  width: 100%;
  height: 80vh;
}
.pp{
  margin-top: 120px;
  margin-bottom: 120px;
}
.About-text{
font-size: 50px;
}
.c1-3{
  height: 100vh;
  width: 70%;

}
.c2-3{
  height: 100vh;
  width: 15%;
}
.c3-3{
  height: 100vh;
  width: 15%;

}
.textandrod{
  width: 100%;
  height: 20vh;
  padding: 30px;
}
.text-3{
  width: 100%;
  height: 80%;
}
.rod-3{
  width: 100%;
  height: 20%;
}
.skills-3{
  font-size: 60px;
}
.prog{
  width: 100%;
  height: 80vh;
  flex-direction: column;
}
.progr{
  width: 80%;
  margin: 40px 0;
}
.prog-box{
  flex-direction: column;
  width: 120%;
  height: auto;
}
.rod-4{
  background:#fff;
  height: 70%;
  width: 2%;
  margin: 70% 0;
}

